body {
    font-family: Heebo, sans-serif;
    color: #21243d;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
}

.page-header-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.blog {
    background-color: #edf7fa;
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.blog-card-wrapper {
    display: grid;
    grid-row-gap: 20px;
}

.blog-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blog-card-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.footer {
    background-color: #142850;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-rights {
    font-size: 14px;
    margin-bottom: 10px;
}


.contact-page {
    padding: 20px 0;
}

.contact-page-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-page-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}