
.contact-page {
    padding: 20px 0;
}

.contact-page-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}

.contact-page-content {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}